.actividad{
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #282c34;
    justify-content: center;
    margin: 1px auto;
}

label{
    color: #98a2b6;
    font-weight: bold;
    font-style: italic;
}